#userBar {
	width: 100%;
	height: 20em;
}

#coverPhoto {
	background-color: #9F9900;
	width: 100%;
	height: 65%
}

#userData {
	background-color: #FF9900;
	width: 100%;
	height: 35%;
	flex-direction: row;
	display: flex;
}

#leftSection {
	height: 100%;
	width: 35%;
}

#rightSection {
	height: 100%;
	width: 65%;
}

#profilePictureBox {
	width: 100%;
	height: 20em;
	z-index: 1;
	position: absolute;
}

#profilePicture {
	width: 11em;
	height: 12em;
	background-color: blue;
	margin-left: 2em;
	margin-top: 6em;
}

#leftSectionInfo {
	padding-left: 14em;
	flex-direction: column;
	display: flex;
	padding-top: 2em;
	font-size: larger;
}
#rightSectionInfo {
	flex-direction: column;
	display: flex;
	padding: 1em;
	font-size: larger;
	text-align: right;
}